.DisplayPage {
  text-align: center;
  background-image: url("https://imgur.com/rimZIA5.png");
  background-position: "center";
  background-size: "cover";
  background-repeat: "no-repeat";
}

h1,
h3 {
  color: greenyellow;
}
