.NavBar {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 0;
  opacity: 0.6;
}

.NavBar-link {
  margin: 0 5rem;
  color: red;
  height: 0;
}

.NavBar-welcome {
  margin: 0 3rem;
  color: white;
  height: 0;
}
